<h1><%= header %> (<%= workouts.count %>)</h1>
<div id="workouts">
  <% workouts.each do |workout| %>
    <%= turbo_stream_from workout %>
    <%= WorkoutIndexCardPresenter.call(workout, self) %>
  <% end %>
</div>
<%= link_to "+ New workout", new_workout_path, class: "my-3 btn btn-primary" %>

