<%= turbo_frame_tag "#{dom_id(workout)}_header" do %>
  <div class="card-header bg-transparent small">

    <div class="workout-title">
      <h1><%= workout.name %></h1>
    </div>
    <% if workout.description %>
      <%= workout.description %>
    <% end %>

    <%= render "workouts/workout_duration", workout: workout %>

    <%= turbo_frame_tag dom_id(workout, 'actions'), src: workout_actions_path(workout) %>          
    
  </div>
<% end %>