<%= turbo_stream_from workout %>

<%= content_tag :div, id: dom_id(workout), class: "card workout-index-card" do %>

  <%= link_to workout_path(workout) do %>
    <div class="card-header bg-transparent small">  
      
      <%# <div class="workout-title"> %>
      <h1><%= workout.name %></h1>
      <%# </div> %>
      <% if workout.description %>
        <%= workout.description %>
      <% end %>
      (<%= pluralize workout.blocks.count, "block" %>)
      <span class="text-secondary small grey"><%= workout.public ? "Public workout" : "Private workout" %></span>

    </div>
  <% end %>

  <div class="workout-edit meta" data-meta-target="user">
    <%= button_to workout_path(workout), method: :delete, data: { "meta-target": "user" }, form: { data: { turbo_confirm: "Are you sure you want to delete this workout?" } }, class: "btn-styling" do %>
    <span class="emoji">🗑</span> 
    <% end %>
  </div>

<% end %>