<%= turbo_frame_tag "#{dom_id(workout)}_header" do %>
  <div class="card-header bg-transparent small">

    <div class="workout-title">
      <h1><%= workout.name %></h1>
    </div>
    <% if workout.description %>
      <%= workout.description %>
    <% end %>
    <span class="text-secondary small grey">⏱️ <%= formatted_duration(workout.time_it_takes) %> - <%= workout.public ? "Public workout" : "Private workout" %></span>

    <%= turbo_frame_tag dom_id(workout, 'actions'), src: workout_actions_path(workout) %>          
    
  </div>
<% end %>