<%= turbo_stream_from workout %>

<div data-controller="stopwatch" class="card workout-card">
  
  <div class="card-header bg-transparent small">
    <h4><%= workout.name %></h4>
    <% if workout.description %>
      <%= workout.description %>
    <% end %>
    <span class="text-secondary small grey"><%= workout.public ? "Public workout" : "Private workout" %></span>

    <div class="workout-edit hidden" data-meta-target="user">
      <%= button_to edit_workout_path(workout), method: :post, class: "btn-styling" do %>
        <span class="emoji">✍️</span>
        <%# <i class="show-icon fas fa-edit workout-edit"></i> %>
      <% end %>

      <%= button_to toggle_public_workout_path(workout), method: :put, class: "btn-styling workout-toggle-public" do %>
        <span class="emoji" data-balloon-length="medium" aria-label="If set to public, everyone can do with this exercise what they wish. Set to private to limit others' ability to change things " data-balloon-pos="left"><%= workout.public ? "🔓" : "🔐" %></span>
        <%# <i class="show-icon fas fa-edit workout-edit"></i> %>
      <% end %>    
    </div>
  </div>

  <div class="card-body">
    <div id="blocks" data-controller="block-position">
      <%= render workout.blocks.order(position: :asc) %>
    </div>
    <%= turbo_frame_tag "new_block", src: new_workout_block_path(workout), target: "_top", class: "visible-if-public-admin-user", data: { target: "meta.published" } %>
    
    <%#= link_to "Add exercise", "#", class: "btn btn-primary", data: { controller: "tooltip", value: "Add directly some exercises outside of a block" } %>
  </div>

</div>

