<% content_for :meta_title, "#{@workout.name} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @workout.description %>
<%# content_for :meta_image, cl_image_path(@workout.photo.path) %>

<% unless @workout.user %>
  <div class="alert alert-top alert-warning alert-dismissible fade show" role="alert">
    This is a lost workout looking for its owner 🦮 Unless saved, it will be deleted within 24h 😭 Only you have the power to <%= link_to "rescue & save 🛟", new_user_session_path(:workout => @workout), class: "alert-link" %> it to your account.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <%# <span aria-hidden="true">&times;</span> %>
    </button>
  </div>
<% end %>

<%= link_to "Create a new exercise", new_exercise_path, "data-controller": "turbo", class: "btn btn-primary" %>
<br><br>

<div id="<%= dom_id @workout %>">
  <%= render @workout %>
</div>

<br>
<div class="d-flex flex-row-reverse">
  <% if !user_signed_in? %>
    <%= link_to "💪 Save to edit this workout", new_user_session_path(:workout => @workout), class: "btn btn-secondary" %>
  <% else %>
    <%# <% if @workout.original_workout.to_i == @workout.id %>
      <%# <p>You already saved this workout.</p> %>
    <%# else %>
      <%= link_to '💪 Save to this exercise', save_workout_workout_path(@workout), method: :post, class: "btn btn-secondary" %>
    <%# end %>
  <% end %>
</div> 

