<%= turbo_stream_from session %>

<div class="card session-card">
  
  <div class="card-header bg-transparent small">
    <h4><%= session.name %></h4>
    <% if session.description %>
      <%= session.description %>
    <% end %>
    <%= button_to edit_session_path(session), method: :post, class: "btn-styling" do %>
      <span class="emoji session-edit">✍️</span>
      <%# <i class="show-icon fas fa-edit session-edit"></i> %>
    <% end %>
  </div>

  <div class="card-body">
    <div id="blocks" data-controller="block-position">
      <%= render session.blocks.order(position: :asc) %>
    </div>
    <%= turbo_frame_tag "new_block", src: new_session_block_path(session), target: "_top", class: "data-visible-to-admins" %>
    
    <%#= link_to "Add exercise", "#", class: "btn btn-primary", data: { controller: "tooltip", value: "Add directly some exercises outside of a block" } %>
  </div>

</div>

