<%= link_to "Create a new exercise", new_exercise_path, "data-controller": "turbo", class: "btn btn-primary" %>
<br><br>
<div id="<%= dom_id @session %>" class="card session-card">
   <div class="card-header bg-transparent small">
      <%= @session.name %>
      <% if @session.description %>
        - <%= @session.description %>
      <% end %>
   </div>
  <div class="card-body">
    <%= render @session %>
  </div>
</div>
