<div class="sidebar" 
      data-sidebar-target="toggle" data-action="click->sidebar#toggleClose">
  <div class="sidebar__container">
    <div class="sidebar__inner">
      <div class="sidebar__context">
      
        <button id="close-button" data-action="click->sidebar#toggleClose">
          <%= Icon.new("close_lg").call %>
        </button>
      
        <ul>
        
          <% if user_signed_in? %>
            <li>
              <%= button_to destroy_user_session_path,
                  method: :delete,
                  class: "sidebar__item" do %>
                <%= Icon.new("sign_out").call %>
                <span class="session">Sign out</span>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path, class: "sidebar__item" do %>
                <%= Icon.new("sign_in").call %>
                <span class="session">Sign in</span>
              <% end %>
            </li>
          <% end %>

          <li>
            <div class="divider"></div>
          </li>

          <li>
            <%= link_to new_workout_path, class: "sidebar__item" do %>
              <%= Icon.new("plus").call %>
              <span>
                New workout
              </span>
            <% end %>
          </li>

          <% if user_signed_in? %>
            <li>
              <%= link_to user_workouts_path, class: "sidebar__item" do %>
                <%= Icon.new("bicycle").call %>
                <span>
                  My workouts
                </span>
              <% end %>
            </li>
          <% end %>    
          
          <li>
            <%= link_to public_workouts_path, class: "sidebar__item" do %>
              <%= Icon.new("fist").call %>
              <span>
                Public workouts
              </span>
            <% end %>
          </li>

          <li>
            <%= link_to exercises_path, class: "sidebar__item" do %>
              <%= Icon.new("exercise").call %>
              <span>
                Exercises
              </span>
            <% end %>
          </li>
  
          <li>
            <div class="divider"></div>
          </li>

          <li class="sidebar__item" data-action="click->sidebar#closeSidebar">
            <%= link_to new_contact_path, 
                data: { controller: "turbo" } do %>
              <%= Icon.call("mail") %> Feedback
            <% end %>
          </li>

          <li data-controller="dark" data-action="click->dark#darkMode">
            <div class="sidebar__item sidebar__item--dark-mode">
              <div class="dark-mode-switch sidebar__dark-mode-switch" data-dark-target="btn"></div>
              <span>
                Dark mode
              </span>
            </div>
          </li>

          <% if current_user&.admin? %>
    
            <li>
              <div class="divider"></div>
            </li>

            <li>
              <button class="sidebar__item" data-action="click->sidebar#toggleSub">
                <%= Icon.new("admin").call %>
                <span>
                  Admin
                </span>
                <div data-sidebar-target="arrowIcon"></div>
                <div class="toggle-sub" id="sub">
                  <ul>
                    <li>
                      <%= link_to "All workouts", workouts_path %>
                    </li>
                    <li>
                      <%= link_to "All users", users_path %>
                    </li>
                    <li>
                      <%= link_to "Analytics", analytics_path %>
                    </li>
                    <li>
                      <%= link_to "Contacts", contacts_path %>
                    </li>
                  </ul>
                </div>
              </button>
            </li>
            
          <% end %>

        </ul>

      </div>
    </div>
  </div>
</div>

