<div data-controller="repetitions" data-sgid="<%= block.to_sgid_param %>" class="exercise-quantities">

  
  <%= turbo_frame_tag dom_id(block, "quantity"), src: edit_quantity_workout_block_actions_path(block.workout, block) %>

  <% if block.tabata %>
    <div data-controller="seconds" class="exercise-quantity">
      <p data-seconds-target="time" class="py-2 mx-2"><%= block.time %></p>
      
      <%= turbo_frame_tag dom_id(block, "time"), src: edit_time_workout_block_actions_path(block.workout, block) %>

    </div>
  <% else %>
    <div class="exercise-quantity">
      <p class="py-2 mx-2"><%= block.repetitions %>x</p>

      <%= turbo_frame_tag dom_id(block, "repetitions"), src: edit_repetitions_workout_block_actions_path(block.workout, block) %>
    
    </div>
  <% end %>

</div>
