<%= content_tag :div, id: dom_id(block), data: { sgid: block.to_sgid_param }, class: "card block-card my-3 pb-3" do %>
  
  <%= turbo_stream_from block, :exercise_instances %>

  <%= turbo_frame_tag "#{dom_id(block)}_exercise_instances" do %>
    <div data-controller="exercise-instance-position">
      <%= render block.exercise_instances.order(position: :asc), workout: @workout, block: block %>
    </div>
  <% end %>

  <%# <div class="new_exercise mt-2 mx-2 data-visible-to-admins"> %>
  <div data-meta-target="published" class="new_exercise mt-2 mx-2">
    <%= link_to "+ Add exercise", new_workout_block_exercise_instance_path(block.workout, block), data: { controller: "turbo" }, class: "btn btn-primary" %>
  </div>

  <div class="block-actions">
    <div class="handle handle-block">
      <%# <span class="emoji">👋</span> %>
      <i class="bi bi-grip-horizontal"></i>
      <%# <i class="fas fa-grip-lines"></i> %>
    </div>

    <%= button_to workout_block_path(block.workout, block), method: :delete, data: { target: "meta.published" }, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn-styling" do %>
    <span class="emoji">🗑</span> 
      <%# <i class="show-icon fas fa-trash-alt inline-delete"></i> %>
    <% end %>
  </div>

<% end %>


