  <div id="<%= dom_id block %>" class="card block-card my-3 pb-3">
    
    <%= turbo_frame_tag "#{dom_id(block)}_exercise_instances" do %>
      <%= render block.exercise_instances, session: session, block: block %>
    <% end %>

    <div class="new_exercise mt-2 mx-2">
      <%= link_to "+ Add exercise", new_session_block_exercise_instance_path(block.session, block), "data-controller": "turbo", class: "btn btn-primary" %>
    </div>
    
    <div class="block-actions">
      <div class="handle">
        <span class="emoji">👋</span>
        <%# <i class="fas fa-grip-lines"></i> %>
      </div>

      <%= button_to session_block_path(block.session, block), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn-styling" do %>
       <span class="emoji">🗑</span> 
        <%# <i class="show-icon fas fa-trash-alt inline-delete"></i> %>
      <% end %>
    </div>

  </div>

