<%= content_tag :div, id: dom_id(block), data: { sgid: block.to_sgid_param } do %>

  <%= turbo_frame_tag "#{dom_id(block)}_header" do %>
      <%= render 'blocks/block_header', block: block %>
  <% end %>
  
  <%# Authorization method via turbo_stream %>
  <%#= turbo_frame_tag dom_id(block, "edit_block"), src: edit_block_workout_block_actions_path(block.workout, block) %>

  <div class="card block-card pb-3">
    <%#= render 'shared/stopwatch' %>

    <%= turbo_stream_from block, :exercise_instances %>

    <%= turbo_frame_tag "#{dom_id(block)}_exercise_instances", data: { controller: "exercise-instance-position" } do %>
      <%= render "blocks/empty_state" %>
      <%= render block.exercise_instances.order(position: :asc), workout: @workout, block: block %>
    <% end %>

    <div class="meta">
      <div data-controller="meta" data-meta-target="published" class="new_exercise mt-2 mx-2 flex-end">
        <%= link_to "⚡️ Add exercise(s)", new_workout_block_exercise_instance_path(block.workout, block), data: { controller: "turbo" }, class: "btn btn-primary" %>
      </div>
    </div>
  
  </div>

<% end %>


