<%= render "pages/page_elements/hero" %>
<%= render "pages/page_elements/features" %>

<div class="container px-4 py-5">
  <h1>Hey, ready to work out?</h1>
  <%= link_to "⚡️ Create a workout", new_workout_path, class: "btn btn-primary mt-3" %>

  <br><br><br>
  <h2>Selected workouts</h2>
  <p>Chose what you want to work on</p>
  <div class="workout-cards">
    <div class="row">
      <%= render "pages/page_elements/workout_card", category: "Pull", workout: Workout.find(1) %>
      <%= render "pages/page_elements/workout_card", category: "Push", workout: Workout.find(2) %>
    </div>
    
    <div class="row">
      <%= render "pages/page_elements/workout_card", category: "Cardio", workout: Workout.find(3) %>
      <%= render "pages/page_elements/workout_card", category: "Back", workout: Workout.find(4) %>
    </div>

    <div class="row">
      <%= render "pages/page_elements/workout_card", category: "Legs", workout: Workout.find(5) %>
      <%= render "pages/page_elements/workout_card", category: "Chest", workout: Workout.find(6) %>
      <%#= render "pages/page_elements/workout_card", category: "Belly", workout: Workout.find(7) %>
      <%#= render "pages/page_elements/workout_card", category: "Arms", workout: Workout.find(8) %>
      <%#= render "pages/page_elements/workout_card", category: "Shoulders", workout: Workout.find(9) %>
    </div>
      
  </div>
</div>