<%= content_tag :div, id: dom_id(post), data: { sgid: post.to_sgid_param } do %>
  <!-- Post preview-->
  <div class="post-preview">
    <%= link_to post_path(post) do %>
      <h2 class="post-title"><%= post.title %></h2>
      <h3 class="post-subtitle"><%= post.subtitle %></h3>
    <% end %>
    <p class="post-meta">
        Posted by
        <%= link_to post.user.email_username, user_path(post.user) %>
        on <%= formatted_date post.created_at %>
    </p>
  </div>
  <% if policy(post).update? %>
    <div class="flex-end">
      <div class="post__actions">
        <%= link_to edit_post_path(post) do %>
          <%= Icon.call("edit") %>
        <% end %>
        <%= render "posts/publish_btn", post: post %>
        <div class="handle-block">
          <%= Icon.call("handle") %>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Divider-->
  <hr class="my-4" />
<% end %>