<%= link_to exercise do %>
  <%= content_tag :div, id: dom_id(exercise), class: "card my-card my-3" do %>
    <h5 class="card-header"><%= exercise.name %></h5>
    <div class="card-body">
      <p><%= exercise.description %></p>
      <% exercise.categories.main_categories_first.each do |category| %>
        <span class="pill <%= "main-category" if category.main_category %>"><%= category.name %></span>
      <% end %>
    </div>
  <% end %>  
<% end %>