<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= @exercise.name %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead"><%= simple_format @exercise.description %></p>
          <div class="exercise-images">
            <% @exercise.files.each do |file| %>
              <%= cl_image_tag file.key, class: "exercise-image" %>
            <% end %>
          </div>
          <div class="exercise-categories mt-3">
            <% @exercise.categories.main_categories_first.each do |category| %>
              <span class="pill <%= "main-category" if category.main_category %>"><%= category.name %></span>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <% if policy(@exercise).edit? %>  
            <%= link_to "Edit exercise", edit_exercise_path(@exercise), "data-controller": "turbo", class: "btn btn-warning" %>
          <% end %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>