<%= simple_form_for(@exercise) do |f| %>
  <%= form_error_notification(@exercise) %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>

    
    <%= f.input :exercise_categories,
                collection: Category.main_categories_first,
                input_html: { multiple: true, data: { 
                  controller: "tom-select",
                  main_categories_count: Category.main_categories.count,  
                  # tom_select_options_value: { 
                    #   maxItems: 3,
                  # },
                  } 
                },
                include_hidden: false,
                label: "Categories",
                required: true %>

    <%= f.label :files, class: "label" %>
    <%= dropzone_controller_div do %>
      
      <% f.object.files.each do |file| %>
        <% file_details = file_details_for(file) %>
        <%= f.hidden_field :files, multiple: true, value: file.signed_id, data: { filename: file_details[:filename], size: file_details[:size], content_type: file_details[:content_type], url: file_details[:url], blob_id: file_details[:blob_id], "dropzone-target": "existingFile" } %>
      <% end %>

      <%= f.file_field :files, direct_upload: true, multiple: true, 'data-dropzone-target': 'input' %>

      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h5 class="dropzone-msg-title">
          Drag to upload or click to browse
        </h5> 
        <span class="dropzone-msg-desc text-sm small">
          10 MB max size. 
          <%# Allowed file types png, jpg. %>
        </span>
      </div>
    <% end %>
    
  </div>

  <div class="form-actions flex-end">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
