<%= simple_form_for(@exercise, url: @url) do |f| %>
  <%= form_error_notification(@exercise) %>

  <div class="form-inputs">
    <%= f.input :name %>

    <%= f.input :description,
          input_html: { data: { controller: "textarea-autogrow" } } %>

    <%= f.label :categories, class: "label", required: true %> 
    <div class="categoriies" data-controller="category-select dropdown">
      <div class="categories__input-field">
        <div class="categories__input-field--category-pills" data-category-select-target="inputField">
          <% @exercise.categories.main_categories_first.each do |category| %>
            <%= render "exercises/input_category_pill", exercise_id: @exercise.id, category: category %>
          <% end %>
        </div>
        <div class="categories__input-field--dropdown-btn">
          <button data-dropdown-target="button">
          </button>
        </div>
      </div>
      <div data-dropdown-target="menu" class="categories__dropdown visually-hidden">
        <% Category.main_categories_first.each do |category| %>
          <%= render "exercises/dropdown_category_pill", category: category, exercise: @exercise %>
          <% if category == Category.main_categories.last %>
            <br>
          <% end %>
        <% end %>
      </div>
      <%= f.hidden_field :exercise_categories, input_html: { multiple: true }, data: { "category-select-target": "hiddenField" }, include_hidden: false %>
    </div>

    <%= f.label :files, class: "label mt-3" %>
    <%= dropzone_controller_div do %>
      <% f.object.files.each do |file| %>
        <% file_details = file_details_for(file) %>
        <%= f.hidden_field :files, multiple: true, value: file.signed_id, data: { filename: file_details[:filename], size: file_details[:size], content_type: file_details[:content_type], url: file_details[:url], blob_id: file_details[:blob_id], "dropzone-target": "existingFile" } %>
      <% end %>
      <%= f.file_field :files, direct_upload: true, multiple: true, 'data-dropzone-target': 'input' %>
      <div data-dropzone-target="dropzoneMsg" class="dropzone-msg dz-message needsclick">
        <h5 class="dropzone-msg-title">
          Drag to upload or click to browse
        </h5> 
        <span class="dropzone-msg-desc text-sm small">
          10 MB max size. 
          <%# Allowed file types png, jpg. %>
        </span>
      </div>
    <% end %>
    
  </div>

  <div class="form-actions flex-end">
    <% if @block %>
      <%= link_to "Back", new_workout_block_exercise_instance_path(@block.workout, @block), data: { controller: "turbo" }, class: "btn btn-primary mx-2" %>
    <% else %>
      <button type="button" class="btn btn-primary mx-2" data-bs-dismiss="modal" aria-label="Close">Back</button>
      <%#= link_to "Back", request.referrer, class: "btn btn-primary mx-2" %>
    <% end %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
