<% content_for :meta_title, "#{@exercises.count} exercises on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Choose among many cool exercises, or add some new one, if you're missing something" %>
<%# content_for :meta_image, cl_image_path(@exercise.photo.path) %>

<div class="my-header">
  <%= render "shared/index_header", user: current_user, name: "Exercises", count: @exercises.count %>
  
    <div class="mt-auto p-2">
      <% if user_signed_in? %>
        <%= link_to "⚡️ Add new exercise", new_exercise_path, data: { controller: "turbo" }, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "⚡️ Add new exercise", new_exercise_path, class: "btn btn-primary" %>
      <% end %>
    </div>
</div>

<div data-controller="refresh-list">
  <%= form_with url: exercises_path, method: :get, html: { class: 'mb-3', data: { refresh_list_target: 'form' } } do |f| %>
    <%= f.text_field :query,
                    class: "form-control",
                    placeholder: 'Type an exercise name..',
                    value: params[:query],
                    include_hidden: false,
                    data: {
                      refresh_list_target: 'searchInput',
                      action: "keyup->refresh-list#update"
                    } %>
  <% end %>

  <%= render "exercises/sort_btns", user_category: @user_category, main_category: @main_category, exercises: @exercises %>
  <br>
  <%= render "exercises/list", exercises: @exercises %>
</div>

