<% content_for :meta_title, "#{@exercise.name} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @exercise.description %>
<%# content_for :meta_image, cl_image_path(@exercise.photo.path) %>

<div class="container border-bottom">
  <div class="my-header">
    <h1><%= @exercise.name %></h1>
  </div>
  <h5 class="my-3">Description</h5>
  <p><%= simple_format @exercise.description %></p>
  <h5 class="mt-5">Categories</h5>
  <% @exercise.categories.main_categories_first.each do |category| %>
    <span class="pill <%= "main-category" if category.main_category %> my-3"><%= category.name %></span>
  <% end %>
</div>

<div class="container">
  <div class="actions my-3">
    <%#= link_to "Edit this exercise", edit_exercise_path(@exercise) %>
    <%= link_to "Back to exercises", exercises_path, class: "btn btn-primary btn-sm" %>

    <%#= button_to "Destroy this exercise", @exercise, method: :delete %>
  </div>
</div>
