<%= content_tag :div, id: dom_id(exercise_instance), data: { controller: "repetitions", sgid: exercise_instance.to_sgid_param }, class: "exercise-instance border-bottom m-1 px-2" do %>
  <p class="py-2"><%= exercise_instance.exercise.name %> </p>
  
  <div class="exercise-quantities">

    <div class="emoji quantity-toggle" data-repetitions-target="toggle" data-action="click->repetitions#updateQuantity" data-balloon-length="medium" aria-label="Press this button to switch between time and repetitions" data-balloon-pos="up-left"><%= exercise_instance.tabata ? "⏱" : "🔁" %></div>

    <% if exercise_instance.tabata %>
      <div class="exercise-quantity">
        <p class="py-2 mx-2"><%= exercise_instance.time %> <span>s</span> </p>
        <div class="exercise-instance-actions">
          <%= link_to "🔼", "#", data: { action: "click->repetitions#more", kind: "time", increment: 10 }, format: :turbo_stream %>
          <%= link_to "🔽", "#", data: { action: "click->repetitions#less", kind: "time", increment: 10 }, format: :turbo_stream %>
        </div>
      </div>
    <% else %>
      <div class="exercise-quantity">
        <p class="py-2 mx-2"><%= exercise_instance.repetitions %> <span>✖️</span> </p>
        <div class="exercise-instance-actions">
          <%= link_to "🔼", "#", data: { action: "click->repetitions#more", kind: "repetitions", increment: 2 }, format: :turbo_stream %>
          <%= link_to "🔽", "#", data: { action: "click->repetitions#less", kind: "repetitions", increment: 2 }, format: :turbo_stream %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="handle handle-exercise-instance">
    <i class="bi bi-grip-horizontal"></i>
  </div>

<% end %>