<%= simple_form_for [@workout, @block, @exercise_instance] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div data-controller="refresh-list">
    <%= form_with url: new_workout_block_exercise_instance_path(@workout, @block, @exercise_instance), method: :get, html: { class: 'mb-3', data: { refresh_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                       class: "form-control",
                       placeholder: 'Type an exercise name..',
                       value: params[:query],
                       include_hidden: false,
                       data: {
                        refresh_list_target: 'searchInput',
                        action: "keyup->refresh-list#update"
                      } %>
    <% end %>
    
    <%= render "exercise_instances/sort_btns", workout: @workout, block: @block, exercise_instance: @exercise_instance %>
    
    <fieldset class="form-group check_boxes optional exercise_instance_exercises my-3">
      <%= render "exercise_instances/list", exercises: @exercises %>
    </fieldset>
  </div>

  <%#= f.association :exercise,
    collection: Exercise.order(name: :asc),
    legend_tag: false,
    as: :check_boxes,
    input_html: { class: "tag-selector" },
    item_wrapper_class: 'tag-item' %>

  <div class="form-actions">
    <%= f.submit "Add exercise", class: "btn btn-primary", data: { action: "type=submit click->modal#disconnect" } %>
  </div>
<% end %>
