<%= simple_form_for [@workout, @block, @exercise_instance] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :exercise %>
    <%= f.input :repetitions %>
    <%= f.input :time %>
  </div>

  <div class="form-actions">
    <%= f.submit "Add exercise", class: "btn btn-primary", data: { action: "type=submit click->modal#disconnect" } %>
  </div>
<% end %>
