<!DOCTYPE html>
<html>
  <head>
    <title>StGym</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# <script src="https://kit.fontawesome.com/649ff54fcc.js" crossorigin="anonymous"></script> %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/custom_user_workout_styles' %>
    <%= render 'shared/current_person' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= cookies[:theme] %>">  
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="container">
      <%= yield %>
      <%= turbo_frame_tag "remote_modal" %>
    </div>    
    <%= render 'shared/footer' %>
  </body>
</html>
